### PART 1: Data Cleaning Cadance
1. Inspect data for structure and data types
2. Inspect for missing values
3. Check for duplicates in data
4. Check for outliers
5. Miss-labeling and spurious data entries
6. Inspect data columns for data types

In [57]:
import pandas as pd
import numpy as np

In [58]:
df = pd.read_csv( "C://Users/Modupe/Documents/Py workspace/Strike and Academic Performance  (UNILAG).csv")

In [59]:
#Inspect data for structure and data type

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431 entries, 0 to 430
Data columns (total 24 columns):
 #   Column                                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                                    --------------  -----
 0   Timestamp                                                                                                                 431 non-null    object
 1   Are you a student of the University of Lagos?                                                                             431 non-null    object
 2   If not, what is your university/institution?                                                                              22 non-null     object
 3   What is your current academic level?                                                                                      431 non-null    object
 4   How old are you?                                                                                                          431 non-null    int64
 5   What is your gender?                                                                                                      431 non-null    object
 6   What was your relationship status during the strike?                                                                      431 non-null    object
 7   What is your faculty?                                                                                                     431 non-null    object
 8   What is your department?                                                                                                  431 non-null    object
 9   Kindly input your department, if not listed in the previous question.                                                     28 non-null     object
 10  How has the ASUU strike affected you and your academic performance?                                                       345 non-null    object
 11  What was the most challenging part of returning to academic life after the strike?                                        340 non-null    object
 12  Did you undertake any work during the strike?                                                                             431 non-null    object
 13  How did you develop yourself during the strike?                                                                           431 non-null    object
 14  How prepared were you for the exams? [Before Strike]                                                                      431 non-null    object
 15  How prepared were you for the exams? [After Strike]                                                                       431 non-null    object
 16  How were your lectures affected by the strike?                                                                            431 non-null    object
 17  How often did you engage in academic activities during the strike?                                                        431 non-null    object
 18  How many courses did you take in the affected semester?                                                                   431 non-null    int64
 19  How many credit units did your courses add up to in the affected semester?                                                353 non-null    float64
 20  What was your CGPA before the strike?                                                                                     431 non-null    float64
 21  What is your current CGPA?                                                                                                431 non-null    float64
 22  Would you like to be contacted for follow-up questions or an interview? If yes, kindly provide your email address below.  87 non-null     object
 23  How did you hear about this survey?                                                                                       252 non-null    object
dtypes: float64(3), int64(2), object(19)
memory usage: 80.9+ KB

In [60]:
#Inspect data for structure and data type

df.isna().sum()

Timestamp                                                                                                                     0
Are you a student of the University of Lagos?                                                                                 0
If not, what is your university/institution?                                                                                409
What is your current academic level?                                                                                          0
How old are you?                                                                                                              0
What is your gender?                                                                                                          0
What was your relationship status during the strike?                                                                          0
What is your faculty?                                                                                                         0
What is your department?                                                                                                      0
Kindly input your department, if not listed in the previous question.                                                       403
How has the ASUU strike affected you and your academic performance?                                                          86
What was the most challenging part of returning to academic life after the strike?                                           91
Did you undertake any work during the strike?                                                                                 0
How did you develop yourself during the strike?                                                                               0
How prepared were you for the exams? [Before Strike]                                                                          0
How prepared were you for the exams? [After Strike]                                                                           0
How were your lectures affected by the strike?                                                                                0
How often did you engage in academic activities during the strike?                                                            0
How many courses did you take in the affected semester?                                                                       0
How many credit units did your courses add up to in the affected semester?                                                   78
What was your CGPA before the strike?                                                                                         0
What is your current CGPA?                                                                                                    0
Would you like to be contacted for follow-up questions or an interview? If yes, kindly provide your email address below.    344
How did you hear about this survey?                                                                                         179
dtype: int64

In [61]:
cols = list(df.columns)

cols

['Timestamp',
 'Are you a student of the University of Lagos?',
 'If not, what is your university/institution?',
 'What is your current academic level?',
 'How old are you?',
 'What is your gender?',
 'What was your relationship status during the strike?',
 'What is your faculty?',
 'What is your department?',
 'Kindly input your department, if not listed in the previous question. ',
 'How has the ASUU strike affected you and your academic performance?',
 'What was the most challenging part of returning to academic life after the strike?',
 'Did you undertake any work during the strike?',
 'How did you develop yourself during the strike?',
 'How prepared were you for the exams? [Before Strike]',
 'How prepared were you for the exams? [After Strike]',
 'How were your lectures affected by the strike?',
 'How often did you engage in academic activities during the strike?',
 'How many courses did you take in the affected semester? ',
 'How many credit units did your courses add up to in the affected semester?',
 'What was your CGPA before the strike?',
 'What is your current CGPA?',
 'Would you like to be contacted for follow-up questions or an interview? If yes, kindly provide your email address below.',
 'How did you hear about this survey?']

In [62]:
# Drop multiple columns
columns_to_drop = ['Timestamp',
                   'Would you like to be contacted for follow-up questions or an interview? If yes, kindly provide your email address below.', 
                   'How did you hear about this survey?']
df = df.drop(columns_to_drop, axis=1)

#df = df.drop('Timestamp', axis=1)

In [63]:
# to save to file as a csv file without the index column, use the pandas to_csv()
#CSV: Cover seperated value
df.to_csv('C://Users/Modupe/Documents/Github/asuu-strike-project/Strike and Academic Performance_1.csv', index=False)

In [64]:
# Rename multiple columns

column_mapping = {
    'Are you a student of the University of Lagos?': 'Unilag',
    'If not, what is your university/institution?': 'Non_Unilag',
    'What is your current academic level?': 'Academic_Level',
    'How old are you?': 'Age',
    'What is your gender?': 'Gender',
    'What was your relationship status during the strike?': 'Relationship_Status',
    'What is your faculty?': 'Faculty',
    'What is your department?': 'Department',
    'Kindly input your department, if not listed in the previous question. ': 'Other_Dept',
    'How has the ASUU strike affected you and your academic performance?': 'Strike_Effect',
    'What was the most challenging part of returning to academic life after the strike?': 'Challenging_Part',
    'Did you undertake any work during the strike?': 'Job_Undertaken',
    'How did you develop yourself during the strike?': 'Self_Development',
    'How prepared were you for the exams? [Before Strike]': 'Exam_Prep_Before_Strike',
    'How prepared were you for the exams? [After Strike]': 'Exam_Prep_After_Strike',
    'How were your lectures affected by the strike?': 'Lectures_Affected',
    'How often did you engage in academic activities during the strike?': 'Academic_Activities',
    'How many courses did you take in the affected semester? ': 'Courses_Taken',
    'How many credit units did your courses add up to in the affected semester?': 'Course_Unit',
    'What was your CGPA before the strike?': 'CGPA_Before',
    'What is your current CGPA?': 'CGPA_After'
}

df = df.rename(columns=column_mapping)

In [65]:
df.head(2)

,Unilag,Non_Unilag,Academic_Level,Age,Gender,Relationship_Status,Faculty,Department,Other_Dept,Strike_Effect,...,Job_Undertaken,Self_Development,Exam_Prep_Before_Strike,Exam_Prep_After_Strike,Lectures_Affected,Academic_Activities,Courses_Taken,Course_Unit,CGPA_Before,CGPA_After
0,Yes,NaN,400 Level,22,Male,Single,Engineering,Chemical Engineering,NaN,I learned how to study better and my grades al...,...,Worked in a role relevant to my studies,Acquired skills unrelated to course of study,Poorly,Poorly,No noticeable change,Rarely: I engaged in academic activities once ...,10,23.0,3.39,3.51
1,Yes,NaN,400 Level,23,Female,Single,Engineering,Chemical Engineering,NaN,It affected it in a negative way as it became ...,...,Did not work during the strike,Acquired skills unrelated to course of study,Poorly,Moderately,No noticeable change,Rarely: I engaged in academic activities once ...,10,23.0,4.44,4.50

In [66]:
#Creating our outcome variable column

df['CGPA Change'] = df['CGPA_After'] - df['CGPA_Before']

## Solving cases concerning the department columns

There are 2 columns, 
1. 0ne contains the main department of individuals who had their department on the list while filling, and those that did not find theirs and had to specify
2. We have to find a way to merge them, as clearly one of the columns aren't needed

In [67]:
df.Department.unique()

array(['Chemical Engineering', 'Political Science',
       'Computer Engineering', 'Educational Foundations', 'Statistics',
       'Geosciences', 'Science Tech. Education',
       'Petroleum & Gas Engineering', 'Cell Biology & Genetics',
       'Surveying & Geo-Informatics Engineering', 'Mathematics',
       'Finance', 'Marine Science',
       'Industrial Relations & Personnel Management',
       'Mechanical Engineering', 'Mass Communication',
       'Biomedical Engineering', 'Estate', 'Other',
       'Biochemistry (Basic Medical Sciences)', 'Law', 'Medicine',
       'Arts & Social Science Education', 'Zoology',
       'Biochemistry (Sciences)', 'Education Administration', 'Botany',
       'Economics', 'Systems Engineering', 'Psychology', 'Accounting',
       'Physics', 'Radiology', 'Electrical & Electronics Engineering',
       'Geography', 'Microbiology', 'Chemistry', 'Architecture',
       'Biology Education', 'Human Kinetics & Health Education',
       'Physiology', 'Adult Education',
       'Civil & Environmental Engineering', 'Philosophy',
       'Pharmaceutics & Pharmaceutical Technology', 'English',
       'Quantity Surveying', 'Metallurgical & Materials Engineering',
       'Actuarial Science & Insurance',
       'European Languages & Integration Studies', 'Nursing',
       'History & Strategic Studies', 'Computer Sciences', 'Building',
       'Business Administration', 'Sociology', 'Restorative Dentistry',
       'Medical Laboratory Science'], dtype=object)

In [68]:
df.Other_Dept.unique()

array([nan, 'Geophysics ', 'Radiography ', 'Biology Education ',
       'FISHERIES ', 'Education and Biology ', 'Pharmacy ', 'Law ',
       'Early childhood education ', 'Education Eng',
       'Business Education ', 'Education ', 'Business Education',
       'Religious Studies ', 'Technology and vocational education ',
       'Communication and Language Arts ', 'Pharmacology ',
       'Pharmacology, therapeutics and toxicology ', 'PHARMACY ',
       'Pharmacy', 'Pharmacology', 'Mechatronics Engineering.',
       'Banking and Finance ', 'Insurance ', 'Education foundation ',
       'Art & Social Science Education '], dtype=object)

In [69]:
# Replace "other" with the corresponding value from "Other_Department"
df['Department'] = df['Department'].str.lower()
df['Other_Dept'] = df['Other_Dept'].str.lower()


df['Department'] = df.apply(lambda row: row['Other_Dept'] if row['Department'] == 'other' else row['Department'], axis=1)

In [70]:
#Turn the rext back to proper text

df['Department'] = df['Department'].str.capitalize()

In [71]:
#Deal with any missing data in this column
df[df['Department'].isna()]

,Unilag,Non_Unilag,Academic_Level,Age,Gender,Relationship_Status,Faculty,Department,Other_Dept,Strike_Effect,...,Self_Development,Exam_Prep_Before_Strike,Exam_Prep_After_Strike,Lectures_Affected,Academic_Activities,Courses_Taken,Course_Unit,CGPA_Before,CGPA_After,CGPA Change
51,Yes,NaN,200 Level,20,Male,Single,Pharmacy,NaN,NaN,NaN,...,Acquired skills unrelated to course of study,Moderately,Moderately,Fewer lecturers attended classes,Often: I engaged in academic activities regula...,7,NaN,5.0,4.89,-0.11
331,Yes,NaN,300 Level,22,Female,Single,Social Sciences,NaN,NaN,I am mentally tired,...,"Volunteered for an event or organization, Acqu...",Moderately,Poorly,No noticeable change,Rarely: I engaged in academic activities once ...,7,18.0,0.0,0.00,0.00

In [72]:
#For location 51

df.loc[51, 'Department'] = 'Pharmacy'

df.loc[51, 'Course_Unit'] = 18.0

In [73]:
# Drop row with index 331 and reindex the DataFrame
df.drop(331, inplace=True)
df.reset_index(drop=True, inplace=True)

In [74]:
df['Department'].value_counts()

Cell biology & genetics       34
Chemical engineering          22
Accounting                    22
Educational foundations       19
Finance                       19
                              ..
Education and biology          1
Pharmacy                       1
Fisheries                      1
Biomedical engineering         1
Medical laboratory science     1
Name: Department, Length: 76, dtype: int64

In [75]:
len(df['Department'])

430

In [76]:
df.drop(columns=['Other_Dept'], inplace=True)
df.head(2)

,Unilag,Non_Unilag,Academic_Level,Age,Gender,Relationship_Status,Faculty,Department,Strike_Effect,Challenging_Part,...,Self_Development,Exam_Prep_Before_Strike,Exam_Prep_After_Strike,Lectures_Affected,Academic_Activities,Courses_Taken,Course_Unit,CGPA_Before,CGPA_After,CGPA Change
0,Yes,NaN,400 Level,22,Male,Single,Engineering,Chemical engineering,I learned how to study better and my grades al...,Trying to remember things we were taught befor...,...,Acquired skills unrelated to course of study,Poorly,Poorly,No noticeable change,Rarely: I engaged in academic activities once ...,10,23.0,3.39,3.51,0.12
1,Yes,NaN,400 Level,23,Female,Single,Engineering,Chemical engineering,It affected it in a negative way as it became ...,"Rekindling the student in me, lol. Trying to g...",...,Acquired skills unrelated to course of study,Poorly,Moderately,No noticeable change,Rarely: I engaged in academic activities once ...,10,23.0,4.44,4.50,0.06

In [77]:
#Checking unique values in a column
#Aids in finding spurious data and mislabelling

df.Gender.unique()

array(['Male', 'Female'], dtype=object)

### We would like to extract a df of students that are not from unilag for future analysis

In [78]:
df_non_unilag = df[df['Unilag'] == "No"] 

len(df_non_unilag)

17

In [79]:
df_non_unilag.head(17)

,Unilag,Non_Unilag,Academic_Level,Age,Gender,Relationship_Status,Faculty,Department,Strike_Effect,Challenging_Part,...,Self_Development,Exam_Prep_Before_Strike,Exam_Prep_After_Strike,Lectures_Affected,Academic_Activities,Courses_Taken,Course_Unit,CGPA_Before,CGPA_After,CGPA Change
32,No,Federal University of Petroleum Resources Effu...,300 Level,20,Female,Single,Engineering,Chemical engineering,No effect,Reading and going to class,...,None of the above,Very,Very,Fewer lecturers attended classes,Rarely: I engaged in academic activities once ...,11,22.0,4.67,4.67,0.00
50,No,OOU OGUN STATE,500 Level,23,Male,Single,AGRICULTURE,Fisheries,NaN,NaN,...,Acquired skills unrelated to course of study,Very,Moderately,Worse lectures after the strike,Rarely: I engaged in academic activities once ...,9,19.0,3.51,3.66,0.15
97,No,University of Ibadan,300 Level,22,Male,Single,Social Sciences,Economics,Reduced enthusiasm for academic related activi...,Refocusing,...,Acquired skills relevant to course of study,Moderately,Moderately,Worse lectures after the strike,Never: I did not engage in any academic activi...,10,30.0,2.80,2.70,-0.10
132,No,Alex Ekwueme Federal University Ndufu-Alike Ik...,300 Level,23,Female,Single,Basic Medical Sciences,Physiology,"It made me slack,I don't know what I'm doing i...",Studying school books,...,Volunteered for an event or organization,Poorly,Moderately,Fewer lecturers attended classes,Rarely: I engaged in academic activities once ...,9,21.0,2.95,0.00,-2.95
135,No,University of ibadan,Masters Program,26,Female,Single,Basic Medical Sciences,Microbiology,"Not really, it was just more difficult than ea...",Going back to lecture room was quite difficult...,...,Acquired skills unrelated to course of study,Very,Moderately,No noticeable change,Never: I did not engage in any academic activi...,9,3.0,0.00,4.01,4.01
143,No,Lagos state University,300 Level,22,Male,Single,Arts,Philosophy,"No strike for Lasu, so basically work as usual",Peeps from other schools were running faster a...,...,"Volunteered for an event or organization, Acqu...",Moderately,Moderately,Fewer lecturers attended classes,Very often: I engaged in academic activities a...,9,23.0,2.45,3.10,0.65
145,No,Funaab,400 Level,21,Male,Single,Sciences,Statistics,Too bad,To start reading again is an issue on its own,...,Acquired skills relevant to course of study,Moderately,Poorly,Fewer lecturers attended classes,Very often: I engaged in academic activities a...,9,0.0,2.90,3.80,0.90
149,No,University of Uyo,400 Level,20,Male,Complicated,Engineering,Electrical & electronics engineering,Not o badly,Getting into tech then balancing it with schoo...,...,"Acquired skills relevant to course of study, A...",Moderately,Moderately,Worse lectures after the strike,Never: I did not engage in any academic activi...,12,22.0,4.51,4.37,-0.14
153,No,University of Abuja,400 Level,23,Female,Single,Arts,English,The ASSU strike affected me badly. I felt like...,Adjusting to reading academic materials. \nIn ...,...,"Volunteered for an event or organization, Acqu...",Moderately,Moderately,Worse lectures after the strike,Never: I did not engage in any academic activi...,10,30.0,3.00,2.00,-1.00
207,No,NaN,200 Level,20,Male,Dating,Sciences,Cell biology & genetics,It affected it negatively. 8 months at home ma...,Returning back to reading,...,Vocational training and artisanship,Moderately,Poorly,No noticeable change,Sometimes: I engaged in academic activities oc...,6,17.0,3.72,3.93,0.21
227,No,FUNAAB,400 Level,21,Male,Single,Physical sciences,Statistics,It made my grades drop,Trying to catch up with previous academic work,...,Acquired skills unrelated to course of study,Poorly,Poorly,No noticeable change,Rarely: I engaged in academic activities once ...,7,15.0,4.00,3.70,-0.30
236,No,Lagos State University,400 Level,21,Female,Dating,Arts,English,I have become more relaxed and this has affect...,It was hard getting back to the usual routine ...,...,"Acquired skills unrelated to course of study, ...",Very,Moderately,Worse lectures after the strike,Often: I engaged in academic activities regula...,10,20.0,3.45,3.15,-0.30
305,No,University of Ibadan,100 Level,20,Female,Single,Arts,Communication and language arts,NaN,NaN,...,"Acquired skills relevant to course of study, A...",Moderately,Very,Worse lectures after the strike,Sometimes: I engaged in academic activities oc...,8,NaN,0.00,0.00,0.00
350,No,Bayero University Kano,400 Level,25,Male,Single,Engineering,Mechatronics engineering.,The ASUU strike affected me pretty bad because...,Getting myself to study within a short timefra...,...,Acquired skills unrelated to course of study,Very,Moderately,I did not attend any lectures after the strike,Rarely: I engaged in academic activities once ...,11,25.0,4.63,4.26,-0.37
351,No,University of Nigeria,400 Level,21,Male,Single,Social Sciences,Philosophy,NaN,NaN,...,Acquired skills unrelated to course of study,Moderately,Poorly,Worse lectures after the strike,Rarely: I engaged in academic activities once ...,7,18.0,4.00,3.80,-0.20
352,No,University of Nigeria Nsukka,Masters Program,23,Female,Single,Business administration,Banking and finance,NaN,NaN,...,"Volunteered for an event or organization, Acqu...",Very,Moderately,No noticeable change,Sometimes: I engaged in academic activities oc...,6,23.0,3.40,3.40,0.00
354,No,UI,400 Level,21,Male,Single,Social Sciences,Accounting,NaN,NaN,...,None of the above,Very,Moderately,Fewer lecturers attended classes,Rarely: I engaged in academic activities once ...,8,NaN,3.75,3.67,-0.08

In [80]:
#Data Cleaning for new df

rows_to_drop = [132, 135, 305]
df_non_unilag.drop(rows_to_drop, inplace=True)

# Reset the index
df_non_unilag.reset_index(drop=True, inplace=True)

C:\Users\Modupe\AppData\Local\Temp\ipykernel_8028\1543358635.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_non_unilag.drop(rows_to_drop, inplace=True)

In [81]:
#Fill data using mean

df_non_unilag['Course_Unit'] = df_non_unilag['Course_Unit'].fillna(df_non_unilag['Course_Unit'].median())

C:\Users\Modupe\AppData\Local\Temp\ipykernel_8028\3980109286.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_non_unilag['Course_Unit'] = df_non_unilag['Course_Unit'].fillna(df_non_unilag['Course_Unit'].median())

In [82]:
df_non_unilag

,Unilag,Non_Unilag,Academic_Level,Age,Gender,Relationship_Status,Faculty,Department,Strike_Effect,Challenging_Part,...,Self_Development,Exam_Prep_Before_Strike,Exam_Prep_After_Strike,Lectures_Affected,Academic_Activities,Courses_Taken,Course_Unit,CGPA_Before,CGPA_After,CGPA Change
0,No,Federal University of Petroleum Resources Effu...,300 Level,20,Female,Single,Engineering,Chemical engineering,No effect,Reading and going to class,...,None of the above,Very,Very,Fewer lecturers attended classes,Rarely: I engaged in academic activities once ...,11,22.0,4.67,4.67,0.00
1,No,OOU OGUN STATE,500 Level,23,Male,Single,AGRICULTURE,Fisheries,NaN,NaN,...,Acquired skills unrelated to course of study,Very,Moderately,Worse lectures after the strike,Rarely: I engaged in academic activities once ...,9,19.0,3.51,3.66,0.15
2,No,University of Ibadan,300 Level,22,Male,Single,Social Sciences,Economics,Reduced enthusiasm for academic related activi...,Refocusing,...,Acquired skills relevant to course of study,Moderately,Moderately,Worse lectures after the strike,Never: I did not engage in any academic activi...,10,30.0,2.80,2.70,-0.10
3,No,Lagos state University,300 Level,22,Male,Single,Arts,Philosophy,"No strike for Lasu, so basically work as usual",Peeps from other schools were running faster a...,...,"Volunteered for an event or organization, Acqu...",Moderately,Moderately,Fewer lecturers attended classes,Very often: I engaged in academic activities a...,9,23.0,2.45,3.10,0.65
4,No,Funaab,400 Level,21,Male,Single,Sciences,Statistics,Too bad,To start reading again is an issue on its own,...,Acquired skills relevant to course of study,Moderately,Poorly,Fewer lecturers attended classes,Very often: I engaged in academic activities a...,9,0.0,2.90,3.80,0.90
5,No,University of Uyo,400 Level,20,Male,Complicated,Engineering,Electrical & electronics engineering,Not o badly,Getting into tech then balancing it with schoo...,...,"Acquired skills relevant to course of study, A...",Moderately,Moderately,Worse lectures after the strike,Never: I did not engage in any academic activi...,12,22.0,4.51,4.37,-0.14
6,No,University of Abuja,400 Level,23,Female,Single,Arts,English,The ASSU strike affected me badly. I felt like...,Adjusting to reading academic materials. \nIn ...,...,"Volunteered for an event or organization, Acqu...",Moderately,Moderately,Worse lectures after the strike,Never: I did not engage in any academic activi...,10,30.0,3.00,2.00,-1.00
7,No,NaN,200 Level,20,Male,Dating,Sciences,Cell biology & genetics,It affected it negatively. 8 months at home ma...,Returning back to reading,...,Vocational training and artisanship,Moderately,Poorly,No noticeable change,Sometimes: I engaged in academic activities oc...,6,17.0,3.72,3.93,0.21
8,No,FUNAAB,400 Level,21,Male,Single,Physical sciences,Statistics,It made my grades drop,Trying to catch up with previous academic work,...,Acquired skills unrelated to course of study,Poorly,Poorly,No noticeable change,Rarely: I engaged in academic activities once ...,7,15.0,4.00,3.70,-0.30
9,No,Lagos State University,400 Level,21,Female,Dating,Arts,English,I have become more relaxed and this has affect...,It was hard getting back to the usual routine ...,...,"Acquired skills unrelated to course of study, ...",Very,Moderately,Worse lectures after the strike,Often: I engaged in academic activities regula...,10,20.0,3.45,3.15,-0.30
10,No,Bayero University Kano,400 Level,25,Male,Single,Engineering,Mechatronics engineering.,The ASUU strike affected me pretty bad because...,Getting myself to study within a short timefra...,...,Acquired skills unrelated to course of study,Very,Moderately,I did not attend any lectures after the strike,Rarely: I engaged in academic activities once ...,11,25.0,4.63,4.26,-0.37
11,No,University of Nigeria,400 Level,21,Male,Single,Social Sciences,Philosophy,NaN,NaN,...,Acquired skills unrelated to course of study,Moderately,Poorly,Worse lectures after the strike,Rarely: I engaged in academic activities once ...,7,18.0,4.00,3.80,-0.20
12,No,University of Nigeria Nsukka,Masters Program,23,Female,Single,Business administration,Banking and finance,NaN,NaN,...,"Volunteered for an event or organization, Acqu...",Very,Moderately,No noticeable change,Sometimes: I engaged in academic activities oc...,6,23.0,3.40,3.40,0.00
13,No,UI,400 Level,21,Male,Single,Social Sciences,Accounting,NaN,NaN,...,None of the above,Very,Moderately,Fewer lecturers attended classes,Rarely: I engaged in academic activities once ...,8,22.0,3.75,3.67,-0.08

### Dataframe now only contains unilag students

In [85]:
#Create a new variable df that only shows Student Status as yes

df_unilag = df[df['Unilag'] != "No"] 
 
df_unilag

,Unilag,Non_Unilag,Academic_Level,Age,Gender,Relationship_Status,Faculty,Department,Strike_Effect,Challenging_Part,...,Self_Development,Exam_Prep_Before_Strike,Exam_Prep_After_Strike,Lectures_Affected,Academic_Activities,Courses_Taken,Course_Unit,CGPA_Before,CGPA_After,CGPA Change
0,Yes,NaN,400 Level,22,Male,Single,Engineering,Chemical engineering,I learned how to study better and my grades al...,Trying to remember things we were taught befor...,...,Acquired skills unrelated to course of study,Poorly,Poorly,No noticeable change,Rarely: I engaged in academic activities once ...,10,23.0,3.39,3.51,0.12
1,Yes,NaN,400 Level,23,Female,Single,Engineering,Chemical engineering,It affected it in a negative way as it became ...,"Rekindling the student in me, lol. Trying to g...",...,Acquired skills unrelated to course of study,Poorly,Moderately,No noticeable change,Rarely: I engaged in academic activities once ...,10,23.0,4.44,4.50,0.06
2,Yes,Nil,400 Level,21,Male,Dating,Engineering,Chemical engineering,It has actually helped me a bit. The extended ...,Readapting to school,...,"Volunteered for an event or organization, Acqu...",Moderately,Moderately,Fewer lecturers attended classes,Rarely: I engaged in academic activities once ...,10,23.0,3.54,3.61,0.07
3,Yes,NaN,400 Level,29,Male,Dating,Social Sciences,Political science,Good,Reading,...,Acquired skills unrelated to course of study,Moderately,Very,No noticeable change,Rarely: I engaged in academic activities once ...,7,NaN,3.86,3.96,0.10
4,Yes,NaN,100 Level,18,Female,Single,Engineering,Computer engineering,NaN,NaN,...,"Volunteered for an event or organization, Acqu...",Moderately,Moderately,Fewer lecturers attended classes,Rarely: I engaged in academic activities once ...,8,18.0,0.00,4.28,4.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,Yes,NaN,200 Level,20,Female,Single,Management Science,Industrial relations & personnel management,NaN,NaN,...,"Acquired skills unrelated to course of study, ...",Moderately,Moderately,Fewer lecturers attended classes,Sometimes: I engaged in academic activities oc...,6,22.0,4.03,4.33,0.30
426,Yes,NaN,200 Level,30,Male,Single,Management Science,Accounting,"It has really affect my service year,enlogated...","It affected my grades,but all thanks to God.",...,Acquired skills relevant to course of study,Moderately,Moderately,Fewer lecturers attended classes,Sometimes: I engaged in academic activities oc...,7,18.0,4.56,4.56,0.00
427,Yes,NaN,300 Level,21,Male,Single,Sciences,Physics,Business dey go,Reading,...,Acquired skills unrelated to course of study,Poorly,Moderately,No noticeable change,Never: I did not engage in any academic activi...,8,22.0,3.69,3.47,-0.22
428,Yes,NaN,100 Level,20,Female,Single,Basic Medical Sciences,Medical laboratory science,NaN,NaN,...,Volunteered for an event or organization,Poorly,Moderately,No noticeable change,Often: I engaged in academic activities regula...,8,5.0,0.00,4.00,4.00
429,Yes,NaN,400 Level,22,Male,Single,Engineering,Systems engineering,NaN,NaN,...,Acquired skills unrelated to course of study,Very,Poorly,Fewer lecturers attended classes,Never: I did not engage in any academic activi...,10,23.0,3.20,3.07,-0.13

In [86]:
df_unilag.drop(columns=['Non_Unilag'], inplace=True)

C:\Users\Modupe\AppData\Local\Temp\ipykernel_8028\948725449.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unilag.drop(columns=['Non_Unilag'], inplace=True)

In [87]:
df_unilag.head(2)

,Unilag,Academic_Level,Age,Gender,Relationship_Status,Faculty,Department,Strike_Effect,Challenging_Part,Job_Undertaken,Self_Development,Exam_Prep_Before_Strike,Exam_Prep_After_Strike,Lectures_Affected,Academic_Activities,Courses_Taken,Course_Unit,CGPA_Before,CGPA_After,CGPA Change
0,Yes,400 Level,22,Male,Single,Engineering,Chemical engineering,I learned how to study better and my grades al...,Trying to remember things we were taught befor...,Worked in a role relevant to my studies,Acquired skills unrelated to course of study,Poorly,Poorly,No noticeable change,Rarely: I engaged in academic activities once ...,10,23.0,3.39,3.51,0.12
1,Yes,400 Level,23,Female,Single,Engineering,Chemical engineering,It affected it in a negative way as it became ...,"Rekindling the student in me, lol. Trying to g...",Did not work during the strike,Acquired skills unrelated to course of study,Poorly,Moderately,No noticeable change,Rarely: I engaged in academic activities once ...,10,23.0,4.44,4.50,0.06

In [88]:
df_unilag = df_unilag[df_unilag['CGPA_After'] != 0]

In [89]:
#Extract a dataframe of individuals who had no cgpa before but cgpa after

no_cgpa_before = df_unilag[df_unilag['CGPA_Before'] == 0]

no_cgpa_before

,Unilag,Academic_Level,Age,Gender,Relationship_Status,Faculty,Department,Strike_Effect,Challenging_Part,Job_Undertaken,Self_Development,Exam_Prep_Before_Strike,Exam_Prep_After_Strike,Lectures_Affected,Academic_Activities,Courses_Taken,Course_Unit,CGPA_Before,CGPA_After,CGPA Change
4,Yes,100 Level,18,Female,Single,Engineering,Computer engineering,NaN,NaN,Worked in a role relevant to my studies,"Volunteered for an event or organization, Acqu...",Moderately,Moderately,Fewer lecturers attended classes,Rarely: I engaged in academic activities once ...,8,18.0,0.0,4.28,4.28
11,Yes,100 Level,20,Female,Single,Sciences,Cell biology & genetics,I find it hard to read sometimes when I hear r...,Reading and assimilating as I did before I lef...,Worked in a role unrelated to my studies,Vocational training and artisanship,Very,Moderately,No noticeable change,Rarely: I engaged in academic activities once ...,9,21.0,0.0,3.10,3.10
17,Yes,100 Level,22,Female,Single,Sciences,Marine science,It has been a draw back somehow,Feels good but somehow cos it was a long time,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Poorly,Moderately,Fewer lecturers attended classes,Rarely: I engaged in academic activities once ...,9,NaN,0.0,3.30,3.30
24,Yes,200 Level,20,Female,Single,Management Science,Finance,it has affected me badly. i got into this scho...,the fact that i had to return back to school w...,Did not work during the strike,Acquired skills unrelated to course of study,Moderately,Poorly,Worse lectures after the strike,Never: I did not engage in any academic activi...,8,20.0,0.0,2.34,2.34
26,Yes,100 Level,18,Female,Single,Engineering,Biomedical engineering,Not my best,Getting used to reading and studying again.,Did not work during the strike,None of the above,Poorly,Moderately,No noticeable change,Rarely: I engaged in academic activities once ...,8,20.0,0.0,3.81,3.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,Yes,200 Level,25,Male,Single,Management Science,Business administration,Wasting time,NaN,Worked in a role relevant to my studies,None of the above,Moderately,Poorly,No noticeable change,Rarely: I engaged in academic activities once ...,10,5.0,0.0,4.89,4.89
418,Yes,200 Level,20,Female,Single,Management Science,Accounting,NaN,NaN,Worked in a role unrelated to my studies,"Vocational training and artisanship, None of t...",Poorly,Moderately,Fewer lecturers attended classes,Sometimes: I engaged in academic activities oc...,6,NaN,0.0,3.50,3.50
421,Yes,200 Level,20,Female,Single,Management Science,Accounting,NaN,Trying to meet up,Did not work during the strike,Vocational training and artisanship,Poorly,Moderately,Fewer lecturers attended classes,Sometimes: I engaged in academic activities oc...,9,NaN,0.0,5.00,5.00
423,Yes,100 Level,20,Male,Single,Management Science,Actuarial science & insurance,"It's fokin' delaying my education, like how ca...","Most challenging part was how I'd cope, start ...",Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Poorly,Very,No noticeable change,Sometimes: I engaged in academic activities oc...,8,19.0,0.0,4.27,4.27
428,Yes,100 Level,20,Female,Single,Basic Medical Sciences,Medical laboratory science,NaN,NaN,Worked in a role relevant to my studies,Volunteered for an event or organization,Poorly,Moderately,No noticeable change,Often: I engaged in academic activities regula...,8,5.0,0.0,4.00,4.00

In [90]:
df_unilag = df_unilag[df_unilag['CGPA_Before'] != 0.00]

In [91]:
#Checking data information
df_unilag.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 429
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unilag                   300 non-null    object
 1   Academic_Level           300 non-null    object
 2   Age                      300 non-null    int64
 3   Gender                   300 non-null    object
 4   Relationship_Status      300 non-null    object
 5   Faculty                  300 non-null    object
 6   Department               300 non-null    object
 7   Strike_Effect            244 non-null    object
 8   Challenging_Part         241 non-null    object
 9   Job_Undertaken           300 non-null    object
 10  Self_Development         300 non-null    object
 11  Exam_Prep_Before_Strike  300 non-null    object
 12  Exam_Prep_After_Strike   300 non-null    object
 13  Lectures_Affected        300 non-null    object
 14  Academic_Activities      300 non-null    object
 15  Courses_Taken            300 non-null    int64
 16  Course_Unit              240 non-null    float64
 17  CGPA_Before              300 non-null    float64
 18  CGPA_After               300 non-null    float64
 19  CGPA Change              300 non-null    float64
dtypes: float64(4), int64(2), object(14)
memory usage: 49.2+ KB

In [92]:
#Check missing values for each column, once more

df_unilag.isna().sum()

Unilag                      0
Academic_Level              0
Age                         0
Gender                      0
Relationship_Status         0
Faculty                     0
Department                  0
Strike_Effect              56
Challenging_Part           59
Job_Undertaken              0
Self_Development            0
Exam_Prep_Before_Strike     0
Exam_Prep_After_Strike      0
Lectures_Affected           0
Academic_Activities         0
Courses_Taken               0
Course_Unit                60
CGPA_Before                 0
CGPA_After                  0
CGPA Change                 0
dtype: int64

In [93]:
# Replace NaN values in the 'Strike_Effect' column with No Effect
df_unilag['Strike_Effect'].fillna(value='No effect', inplace=True)

# Replace NaN values in the 'Challenging_Part' column with No Challenge
df_unilag['Challenging_Part'].fillna(value='No challenge', inplace=True)

In [94]:
df_unilag.isna().sum()

Unilag                      0
Academic_Level              0
Age                         0
Gender                      0
Relationship_Status         0
Faculty                     0
Department                  0
Strike_Effect               0
Challenging_Part            0
Job_Undertaken              0
Self_Development            0
Exam_Prep_Before_Strike     0
Exam_Prep_After_Strike      0
Lectures_Affected           0
Academic_Activities         0
Courses_Taken               0
Course_Unit                60
CGPA_Before                 0
CGPA_After                  0
CGPA Change                 0
dtype: int64

In [95]:
df_unilag[df_unilag['Strike_Effect'] == 'No effect']

,Unilag,Academic_Level,Age,Gender,Relationship_Status,Faculty,Department,Strike_Effect,Challenging_Part,Job_Undertaken,Self_Development,Exam_Prep_Before_Strike,Exam_Prep_After_Strike,Lectures_Affected,Academic_Activities,Courses_Taken,Course_Unit,CGPA_Before,CGPA_After,CGPA Change
6,Yes,200 Level,20,Female,Single,Sciences,Statistics,No effect,No challenge,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Moderately,Moderately,No noticeable change,Rarely: I engaged in academic activities once ...,5,15.0,4.00,3.80,-0.20
29,Yes,300 Level,22,Female,Single,Social Sciences,Mass communication,No effect,No challenge,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Poorly,Moderately,Worse lectures after the strike,Sometimes: I engaged in academic activities oc...,9,NaN,4.10,3.90,-0.20
43,Yes,300 Level,21,Female,Single,Education,Science tech. education,No effect,No challenge,Worked in a role unrelated to my studies,Vocational training and artisanship,Poorly,Moderately,I did not attend any lectures after the strike,Never: I did not engage in any academic activi...,7,16.0,2.77,2.80,0.03
51,Yes,200 Level,20,Male,Single,Pharmacy,Pharmacy,No effect,No challenge,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Moderately,Moderately,Fewer lecturers attended classes,Often: I engaged in academic activities regula...,7,18.0,5.00,4.89,-0.11
70,Yes,200 Level,21,Male,Single,Management Science,Finance,No effect,No challenge,Worked in a role relevant to my studies,Acquired skills relevant to course of study,Very,Moderately,Fewer lecturers attended classes,Rarely: I engaged in academic activities once ...,7,0.0,4.00,3.99,-0.01
83,Yes,200 Level,20,Male,Single,Sciences,Biochemistry (sciences),No effect,No challenge,Did not work during the strike,Acquired skills unrelated to course of study,Poorly,Moderately,Worse lectures after the strike,Sometimes: I engaged in academic activities oc...,9,21.0,3.00,3.00,0.00
91,Yes,400 Level,26,Male,Single,Management Science,Finance,No effect,No challenge,Worked in a role relevant to my studies,Acquired skills relevant to course of study,Moderately,Poorly,Worse lectures after the strike,Never: I did not engage in any academic activi...,8,22.0,4.30,4.00,-0.30
92,Yes,300 Level,20,Female,Single,Engineering,Systems engineering,No effect,Catching up with school's learning,Worked in a role unrelated to my studies,Acquired skills relevant to course of study,Very,Moderately,Fewer lecturers attended classes,Never: I did not engage in any academic activi...,10,17.0,3.79,3.88,0.09
100,Yes,300 Level,21,Female,Single,Sciences,Zoology,No effect,Becoming fond of school again,Did not work during the strike,"Acquired skills relevant to course of study, A...",Poorly,Moderately,Fewer lecturers attended classes,Rarely: I engaged in academic activities once ...,6,NaN,3.40,3.89,0.49
101,Yes,300 Level,22,Male,Single,Sciences,Zoology,No effect,No challenge,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Moderately,Moderately,No noticeable change,Never: I did not engage in any academic activi...,5,NaN,2.98,3.22,0.24
102,Yes,300 Level,21,Female,Single,Sciences,Cell biology & genetics,No effect,I had difficult time going back to my books. A...,Worked in a role unrelated to my studies,"Acquired skills unrelated to course of study, ...",Moderately,Poorly,Worse lectures after the strike,Rarely: I engaged in academic activities once ...,6,NaN,3.82,3.82,0.00
106,Yes,400 Level,21,Male,Single,Social Sciences,Mass communication,No effect,No challenge,Worked in a role relevant to my studies,"Acquired skills relevant to course of study, A...",Moderately,Moderately,No noticeable change,Sometimes: I engaged in academic activities oc...,7,NaN,3.59,3.59,0.00
126,Yes,300 Level,20,Male,Single,Engineering,Chemical engineering,No effect,No challenge,Did not work during the strike,Acquired skills unrelated to course of study,Poorly,Moderately,Worse lectures after the strike,Never: I did not engage in any academic activi...,9,NaN,4.47,4.44,-0.03
142,Yes,300 Level,21,Male,Single,Engineering,Systems engineering,No effect,No challenge,Worked in a role unrelated to my studies,"Acquired skills relevant to course of study, A...",Moderately,Moderately,No noticeable change,Often: I engaged in academic activities regula...,10,NaN,4.45,4.40,-0.05
155,Yes,200 Level,19,Female,Single,Engineering,Systems engineering,No effect,No challenge,Did not work during the strike,Vocational training and artisanship,Poorly,Moderately,No noticeable change,Never: I did not engage in any academic activi...,10,28.0,4.00,3.14,-0.86
163,Yes,200 Level,21,Male,Single,Sciences,Statistics,No effect,No challenge,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Moderately,Moderately,I did not attend any lectures after the strike,Never: I did not engage in any academic activi...,6,NaN,3.00,3.50,0.50
166,Yes,500 Level,25,Male,Single,Engineering,Mechanical engineering,No effect,No challenge,Worked in a role relevant to my studies,"Volunteered for an event or organization, Acqu...",Very,Moderately,No noticeable change,Often: I engaged in academic activities regula...,8,NaN,4.52,4.55,0.03
193,Yes,300 Level,21,Male,Dating,Engineering,Systems engineering,No effect,No challenge,Worked in a role unrelated to my studies,"Volunteered for an event or organization, Acqu...",Moderately,Poorly,No noticeable change,Sometimes: I engaged in academic activities oc...,10,22.0,2.90,2.00,-0.90
203,Yes,200 Level,21,Male,Dating,Sciences,Cell biology & genetics,No effect,Reading and managing work,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Moderately,Moderately,No noticeable change,Rarely: I engaged in academic activities once ...,6,19.0,4.16,4.28,0.12
209,Yes,200 Level,24,Male,Complicated,Sciences,Statistics,No effect,No challenge,Worked in a role unrelated to my studies,"Acquired skills relevant to course of study, A...",Very,Poorly,Worse lectures after the strike,Rarely: I engaged in academic activities once ...,5,16.0,3.80,3.50,-0.30
212,Yes,200 Level,22,Male,Single,Sciences,Cell biology & genetics,No effect,No challenge,Worked in a role unrelated to my studies,"Acquired skills unrelated to course of study, ...",Moderately,Poorly,Worse lectures after the strike,Never: I did not engage in any academic activi...,6,NaN,3.22,3.40,0.18
242,Yes,400 Level,21,Male,Single,Social Sciences,Mass communication,No effect,No challenge,Worked in a role relevant to my studies,"Acquired skills relevant to course of study, A...",Moderately,Moderately,Improved lectures after the strike,Sometimes: I engaged in academic activities oc...,7,19.0,3.47,3.67,0.20
302,Yes,400 Level,27,Male,Single,Management Science,Actuarial science & insurance,No effect,No challenge,Worked in a role unrelated to my studies,Acquired skills relevant to course of study,Moderately,Very,No noticeable change,Rarely: I engaged in academic activities once ...,8,NaN,3.03,3.14,0.11
310,Yes,500 Level,22,Male,Dating,Sciences,Computer sciences,No effect,No challenge,Worked in a role relevant to my studies,Acquired skills relevant to course of study,Poorly,Moderately,Worse lectures after the strike,Sometimes: I engaged in academic activities oc...,3,9.0,3.93,4.04,0.11
312,Yes,300 Level,22,Female,Single,Sciences,Biochemistry (sciences),No effect,No challenge,Did not work during the strike,None of the above,Moderately,Poorly,No noticeable change,Never: I did not engage in any academic activi...,7,NaN,3.87,3.40,-0.47
314,Yes,300 Level,21,Female,Single,Sciences,Cell biology & genetics,No effect,No challenge,Worked in a role unrelated to my studies,Vocational training and artisanship,Moderately,Very,Worse lectures after the strike,Rarely: I engaged in academic activities once ...,7,NaN,4.88,4.92,0.04
316,Yes,300 Level,20,Male,Dating,Sciences,Cell biology & genetics,No effect,No challenge,Did not work during the strike,"Acquired skills relevant to course of study, A...",Moderately,Moderately,Improved lectures after the strike,Sometimes: I engaged in academic activities oc...,8,20.0,2.88,4.20,1.32
317,Yes,300 Level,25,Female,Single,Sciences,Zoology,No effect,Reading,Worked in a role unrelated to my studies,"Acquired skills unrelated to course of study, ...",Poorly,Very,Fewer lecturers attended classes,Never: I did not engage in any academic activi...,6,NaN,2.70,3.10,0.40
324,Yes,300 Level,22,Female,Single,Basic Medical Sciences,Pharmacology,No effect,What was learnt before the strike looking stra...,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Very,Moderately,Improved lectures after the strike,Sometimes: I engaged in academic activities oc...,8,NaN,4.26,4.35,0.09
326,Yes,500 Level,25,Female,Single,Sciences,Marine science,No effect,No challenge,Worked in a role relevant to my studies,"Volunteered for an event or organization, Acqu...",Moderately,Poorly,Fewer lecturers attended classes,Rarely: I engaged in academic activities once ...,4,12.0,4.00,3.90,-0.10
327,Yes,300 Level,20,Female,Dating,Law,Law,No effect,No challenge,Worked in a role unrelated to my studies,None of the above,Moderately,Moderately,Worse lectures after the strike,Rarely: I engaged in academic activities once ...,5,20.0,3.97,4.20,0.23
328,Yes,200 Level,20,Female,Single,Engineering,Chemical engineering,No effect,No challenge,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Very,Moderately,Worse lectures after the strike,Sometimes: I engaged in academic activities oc...,10,21.0,4.00,4.00,0.00
329,Yes,400 Level,22,Female,Single,Pharmacy,Pharmacy,No effect,No challenge,Did not work during the strike,"Acquired skills relevant to course of study, V...",Moderately,Poorly,Worse lectures after the strike,Very often: I engaged in academic activities a...,12,NaN,3.80,3.60,-0.20
330,Yes,300 Level,22,Female,Dating,Management Science,Business administration,No effect,No challenge,Worked in a role relevant to my studies,"Volunteered for an event or organization, Acqu...",Poorly,Poorly,Fewer lecturers attended classes,Never: I did not engage in any academic activi...,8,20.0,4.56,4.64,0.08
334,Yes,400 Level,21,Female,Single,Engineering,Mechanical engineering,No effect,No challenge,Did not work during the strike,Acquired skills unrelated to course of study,Moderately,Very,Worse lectures after the strike,Often: I engaged in academic activities regula...,8,19.0,4.04,4.08,0.04
336,Yes,200 Level,20,Male,Single,Sciences,Mathematics,No effect,No challenge,Worked in a role unrelated to my studies,None of the above,Poorly,Poorly,No noticeable change,Rarely: I engaged in academic activities once ...,7,NaN,2.80,2.06,-0.74
337,Yes,300 Level,21,Male,Single,Education,Mathematics,No effect,No challenge,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Poorly,Poorly,Fewer lecturers attended classes,Very often: I engaged in academic activities a...,7,NaN,3.49,3.32,-0.17
339,Yes,200 Level,21,Female,Dating,Management Science,Accounting,No effect,No challenge,Worked in a role unrelated to my studies,"Acquired skills relevant to course of study, A...",Very,Poorly,I did not attend any lectures after the strike,Never: I did not engage in any academic activi...,8,0.0,4.10,4.10,0.00
341,Yes,400 Level,22,Female,Single,Management Science,Finance,No effect,No challenge,Worked in a role unrelated to my studies,Vocational training and artisanship,Moderately,Moderately,No noticeable change,Sometimes: I engaged in academic activities oc...,7,22.0,3.63,3.70,0.07
357,Yes,200 Level,22,Male,Single,Dental Sciences,Restorative dentistry,No effect,No challenge,Did not work during the strike,Acquired skills unrelated to course of study,Poorly,Moderately,Worse lectures after the strike,Rarely: I engaged in academic activities once ...,3,9.0,3.94,3.94,0.00
365,Yes,400 Level,22,Female,Single,Arts,Philosophy,No effect,No challenge,Did not work during the strike,None of the above,Very,Poorly,Worse lectures after the strike,Never: I did not engage in any academic activi...,9,18.0,4.10,4.13,0.03
367,Yes,400 Level,23,Female,Single,Education,Education administration,No effect,No challenge,Worked in a role unrelated to my studies,"Acquired skills relevant to course of study, A...",Moderately,Poorly,No noticeable change,Sometimes: I engaged in academic activities oc...,7,NaN,3.60,3.30,-0.30
370,Yes,300 Level,21,Male,Single,Sciences,Biochemistry (sciences),No effect,No challenge,Did not work during the strike,None of the above,Moderately,Poorly,Worse lectures after the strike,Often: I engaged in academic activities regula...,7,0.0,3.50,3.00,-0.50
384,Yes,400 Level,22,Male,Single,Management Science,Actuarial science & insurance,No effect,No challenge,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Poorly,Moderately,Fewer lecturers attended classes,Never: I did not engage in any academic activi...,7,18.0,3.30,3.40,0.10
386,Yes,200 Level,22,Male,Complicated,Engineering,Mechanical engineering,No effect,No challenge,Worked in a role unrelated to my studies,"Acquired skills relevant to course of study, A...",Moderately,Moderately,Worse lectures after the strike,Often: I engaged in academic activities regula...,11,22.0,4.30,4.30,0.00
390,Yes,200 Level,20,Male,Single,Sciences,Geosciences,No effect,No challenge,Did not work during the strike,Acquired skills relevant to course of study,Moderately,Moderately,No noticeable change,Often: I engaged in academic activities regula...,8,20.0,4.60,4.60,0.00
394,Yes,400 Level,25,Male,Single,Arts,English,No effect,I have work I have to sacrifice,Worked in a role unrelated to my studies,None of the above,Very,Moderately,Fewer lecturers attended classes,Rarely: I engaged in academic activities once ...,10,20.0,3.60,3.50,-0.10
396,Yes,200 Level,25,Male,Single,Arts,Philosophy,No effect,No challenge,Worked in a role unrelated to my studies,"Acquired skills unrelated to course of study, ...",Moderately,Poorly,Worse lectures after the strike,Never: I did not engage in any academic activi...,9,NaN,4.00,3.00,-1.00
398,Yes,400 Level,23,Male,Single,Management Science,Actuarial science & insurance,No effect,No challenge,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Very,Moderately,Fewer lecturers attended classes,Sometimes: I engaged in academic activities oc...,7,18.0,3.46,3.33,-0.13
404,Yes,300 Level,29,Male,Single,Education,Arts & social science education,No effect,The most challenging part is awaken the brain ...,Worked in a role unrelated to my studies,Vocational training and artisanship,Very,Moderately,Improved lectures after the strike,Rarely: I engaged in academic activities once ...,9,5.0,3.00,3.09,0.09
406,Yes,400 Level,22,Male,Single,Management Science,Actuarial science & insurance,No effect,No challenge,Did not work during the strike,Acquired skills relevant to course of study,Moderately,Poorly,Worse lectures after the strike,Sometimes: I engaged in academic activities oc...,8,18.0,4.46,4.54,0.08
411,Yes,200 Level,24,Male,Dating,Management Science,Accounting,No effect,No challenge,Worked in a role relevant to my studies,Vocational training and artisanship,Very,Moderately,No noticeable change,Rarely: I engaged in academic activities once ...,8,NaN,4.25,4.17,-0.08
414,Yes,200 Level,20,Male,Single,Management Science,Accounting,No effect,No challenge,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Very,Moderately,Fewer lecturers attended classes,Never: I did not engage in any academic activi...,9,20.0,4.80,4.60,-0.20
422,Yes,200 Level,21,Male,Single,Management Science,Accounting,No effect,No challenge,Did not work during the strike,None of the above,Moderately,Moderately,Fewer lecturers attended classes,Sometimes: I engaged in academic activities oc...,9,23.0,4.00,4.00,0.00
425,Yes,200 Level,20,Female,Single,Management Science,Industrial relations & personnel management,No effect,No challenge,Worked in a role unrelated to my studies,"Acquired skills unrelated to course of study, ...",Moderately,Moderately,Fewer lecturers attended classes,Sometimes: I engaged in academic activities oc...,6,22.0,4.03,4.33,0.30
429,Yes,400 Level,22,Male,Single,Engineering,Systems engineering,No effect,No challenge,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Very,Poorly,Fewer lecturers attended classes,Never: I did not engage in any academic activi...,10,23.0,3.20,3.07,-0.13

### Quest for Duplicates

In [96]:
#Search for duplicates

df_unilag[df_unilag.duplicated()]

,Unilag,Academic_Level,Age,Gender,Relationship_Status,Faculty,Department,Strike_Effect,Challenging_Part,Job_Undertaken,Self_Development,Exam_Prep_Before_Strike,Exam_Prep_After_Strike,Lectures_Affected,Academic_Activities,Courses_Taken,Course_Unit,CGPA_Before,CGPA_After,CGPA Change
160,Yes,400 Level,22,Female,Single,Education,Arts & social science education,I just want to end all this..🥲,Having to return back to reading books and att...,Worked in a role unrelated to my studies,"Acquired skills unrelated to course of study, ...",Moderately,Poorly,No noticeable change,Never: I did not engage in any academic activi...,8,16.0,3.69,2.34,-1.35

In [97]:
df_unilag[df_unilag['Strike_Effect'] == "I just want to end all this..🥲"]

,Unilag,Academic_Level,Age,Gender,Relationship_Status,Faculty,Department,Strike_Effect,Challenging_Part,Job_Undertaken,Self_Development,Exam_Prep_Before_Strike,Exam_Prep_After_Strike,Lectures_Affected,Academic_Activities,Courses_Taken,Course_Unit,CGPA_Before,CGPA_After,CGPA Change
156,Yes,400 Level,22,Female,Single,Education,Arts & social science education,I just want to end all this..🥲,Having to return back to reading books and att...,Worked in a role unrelated to my studies,"Acquired skills unrelated to course of study, ...",Moderately,Poorly,No noticeable change,Never: I did not engage in any academic activi...,8,16.0,3.69,2.34,-1.35
160,Yes,400 Level,22,Female,Single,Education,Arts & social science education,I just want to end all this..🥲,Having to return back to reading books and att...,Worked in a role unrelated to my studies,"Acquired skills unrelated to course of study, ...",Moderately,Poorly,No noticeable change,Never: I did not engage in any academic activi...,8,16.0,3.69,2.34,-1.35

In [98]:
df_unilag.drop_duplicates(keep='first', inplace=True)
df_unilag.reset_index(drop=True, inplace = True)

df_unilag

,Unilag,Academic_Level,Age,Gender,Relationship_Status,Faculty,Department,Strike_Effect,Challenging_Part,Job_Undertaken,Self_Development,Exam_Prep_Before_Strike,Exam_Prep_After_Strike,Lectures_Affected,Academic_Activities,Courses_Taken,Course_Unit,CGPA_Before,CGPA_After,CGPA Change
0,Yes,400 Level,22,Male,Single,Engineering,Chemical engineering,I learned how to study better and my grades al...,Trying to remember things we were taught befor...,Worked in a role relevant to my studies,Acquired skills unrelated to course of study,Poorly,Poorly,No noticeable change,Rarely: I engaged in academic activities once ...,10,23.0,3.39,3.51,0.12
1,Yes,400 Level,23,Female,Single,Engineering,Chemical engineering,It affected it in a negative way as it became ...,"Rekindling the student in me, lol. Trying to g...",Did not work during the strike,Acquired skills unrelated to course of study,Poorly,Moderately,No noticeable change,Rarely: I engaged in academic activities once ...,10,23.0,4.44,4.50,0.06
2,Yes,400 Level,21,Male,Dating,Engineering,Chemical engineering,It has actually helped me a bit. The extended ...,Readapting to school,Worked in a role unrelated to my studies,"Volunteered for an event or organization, Acqu...",Moderately,Moderately,Fewer lecturers attended classes,Rarely: I engaged in academic activities once ...,10,23.0,3.54,3.61,0.07
3,Yes,400 Level,29,Male,Dating,Social Sciences,Political science,Good,Reading,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Moderately,Very,No noticeable change,Rarely: I engaged in academic activities once ...,7,NaN,3.86,3.96,0.10
4,Yes,300 Level,24,Male,Single,Education,Educational foundations,Reluctance to concentrate on my studies,Getting to dust my books and and assimilate,Did not work during the strike,None of the above,Poorly,Very,Worse lectures after the strike,Never: I did not engage in any academic activi...,9,18.0,2.85,2.00,-0.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,Yes,200 Level,25,Female,Single,Management Science,Accounting,The ASUU strike has greatly contributed to dem...,The disorientation in the sense that the manag...,Worked in a role unrelated to my studies,"Acquired skills relevant to course of study, A...",Moderately,Moderately,No noticeable change,Sometimes: I engaged in academic activities oc...,7,14.0,3.70,2.90,-0.80
295,Yes,200 Level,20,Female,Single,Management Science,Industrial relations & personnel management,No effect,No challenge,Worked in a role unrelated to my studies,"Acquired skills unrelated to course of study, ...",Moderately,Moderately,Fewer lecturers attended classes,Sometimes: I engaged in academic activities oc...,6,22.0,4.03,4.33,0.30
296,Yes,200 Level,30,Male,Single,Management Science,Accounting,"It has really affect my service year,enlogated...","It affected my grades,but all thanks to God.",Worked in a role relevant to my studies,Acquired skills relevant to course of study,Moderately,Moderately,Fewer lecturers attended classes,Sometimes: I engaged in academic activities oc...,7,18.0,4.56,4.56,0.00
297,Yes,300 Level,21,Male,Single,Sciences,Physics,Business dey go,Reading,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Poorly,Moderately,No noticeable change,Never: I did not engage in any academic activi...,8,22.0,3.69,3.47,-0.22
298,Yes,400 Level,22,Male,Single,Engineering,Systems engineering,No effect,No challenge,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Very,Poorly,Fewer lecturers attended classes,Never: I did not engage in any academic activi...,10,23.0,3.20,3.07,-0.13

## It is clear that 75 missing values in a column is wild.

The safest option is to create a simple model to predict the values

In [109]:

col_list = df_unilag.columns.tolist()

print(col_list, end = '')

['Unilag', 'Academic_Level', 'Age', 'Gender', 'Relationship_Status', 'Faculty', 'Department', 'Strike_Effect', 'Challenging_Part', 'Job_Undertaken', 'Self_Development', 'Exam_Prep_Before_Strike', 'Exam_Prep_After_Strike', 'Lectures_Affected', 'Academic_Activities', 'Courses_Taken', 'Course_Unit', 'CGPA_Before', 'CGPA_After', 'CGPA Change']

In [110]:
#Drop columns

columns_to_drop = ['Strike_Effect', 'Challenging_Part', 'Job_Undertaken', 'Self_Development', 'Exam_Prep_Before_Strike', 
                   'Exam_Prep_After_Strike', 'Lectures_Affected', 'Academic_Activities','Relationship_Status', 'Age', "Gender",
                   'CGPA_Before', 'CGPA_After', 'CGPA Change']
missing_course_units  = df_unilag.drop(columns_to_drop, axis=1)

In [111]:
missing_course_units.head(2)

,Unilag,Academic_Level,Faculty,Department,Courses_Taken,Course_Unit
0,Yes,400 Level,Engineering,Chemical engineering,10,23.0
1,Yes,400 Level,Engineering,Chemical engineering,10,23.0

In [112]:
missing_course_units.isna().sum()

Unilag             0
Academic_Level     0
Faculty            0
Department         0
Courses_Taken      0
Course_Unit       60
dtype: int64

In [113]:
len(missing_course_units)

299

In [123]:
missing_course_units['Course_Unit'].fillna(0, inplace=True)

In [124]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Step 1: Prepare the data

test_data = missing_course_units[missing_course_units['Course_Unit'].notnull() & (missing_course_units['Course_Unit'] > 0)].reset_index(drop=True)

# Create a DataFrame with missing values for 'course unit per semester' (training data)
training_data = missing_course_units[missing_course_units['Course_Unit'] == 0].reset_index(drop=True)


# Step 2: Split the data into features (X) and target (y)

X_test = test_data.drop(columns=['Course_Unit'])
y_test = test_data['Course_Unit']

In [125]:
test_data.head(50)

,Unilag,Academic_Level,Faculty,Department,Courses_Taken,Course_Unit
0,Yes,400 Level,Engineering,Chemical engineering,10,23.0
1,Yes,400 Level,Engineering,Chemical engineering,10,23.0
2,Yes,400 Level,Engineering,Chemical engineering,10,23.0
3,Yes,300 Level,Education,Educational foundations,9,18.0
4,Yes,200 Level,Sciences,Statistics,5,15.0
5,Yes,300 Level,Sciences,Geosciences,10,21.0
6,Yes,400 Level,Engineering,Petroleum & gas engineering,10,21.0
7,Yes,300 Level,Education,Educational foundations,10,20.0
8,Yes,400 Level,Management Science,Finance,7,5.0
9,Yes,400 Level,Sciences,Marine science,3,9.0
10,Yes,400 Level,Management Science,Industrial relations & personnel management,6,16.0
11,Yes,500 Level,Engineering,Mechanical engineering,8,21.0
12,Yes,400 Level,Engineering,Computer engineering,11,20.0
13,Yes,400 Level,Environmental Sciences,Estate,7,15.0
14,Yes,300 Level,Sciences,Biochemistry (basic medical sciences),9,20.0
15,Yes,400 Level,Law,Law,5,20.0
16,Yes,400 Level,Engineering,Chemical engineering,10,23.0
17,Yes,400 Level,Engineering,Mechanical engineering,8,8.0
18,Yes,300 Level,Education,Arts & social science education,11,24.0
19,Yes,300 Level,Sciences,Zoology,8,21.0
20,Yes,200 Level,Management Science,Finance,7,21.0
21,Yes,500 Level,Law,Law,5,20.0
22,Yes,300 Level,Education,Science tech. education,7,16.0
23,Yes,300 Level,Sciences,Biochemistry (sciences),8,16.0
24,Yes,300 Level,Education,Education administration,8,25.0
25,Yes,300 Level,Sciences,Botany,6,17.0
26,Yes,300 Level,Sciences,Cell biology & genetics,6,18.0
27,Yes,300 Level,Sciences,Marine science,8,20.0
28,Yes,200 Level,Pharmacy,Pharmacy,7,18.0
29,Yes,300 Level,Education,Education and biology,8,18.0
30,Yes,500 Level,Law,Law,6,24.0
31,Yes,400 Level,Engineering,Chemical engineering,10,23.0
32,Yes,300 Level,Sciences,Botany,7,17.0
33,Yes,300 Level,Sciences,Botany,5,16.0
34,Yes,300 Level,Management Science,Accounting,9,23.0
35,Yes,200 Level,Sciences,Botany,6,12.0
36,Yes,400 Level,Engineering,Chemical engineering,10,23.0
37,Yes,300 Level,Law,Law,6,22.0
38,Yes,300 Level,Law,Law,5,20.0
39,Yes,300 Level,Management Science,Finance,7,22.0
40,Yes,300 Level,Education,Educational foundations,8,16.0
41,Yes,200 Level,Engineering,Chemical engineering,10,21.0
42,Yes,200 Level,Engineering,Chemical engineering,10,23.0
43,Yes,400 Level,Sciences,Physics,6,12.0
44,Yes,300 Level,Sciences,Marine science,7,21.0
45,Yes,200 Level,Sciences,Botany,7,0.1
46,Yes,200 Level,Sciences,Biochemistry (sciences),9,21.0
47,Yes,400 Level,Engineering,Electrical & electronics engineering,12,21.0
48,Yes,200 Level,Social Sciences,Geography,8,16.0
49,Yes,100 Level,Sciences,Botany,8,7.0

In [126]:
training_data

,Unilag,Academic_Level,Faculty,Department,Courses_Taken,Course_Unit
0,Yes,400 Level,Social Sciences,Political science,7,0.0
1,Yes,500 Level,Engineering,Surveying & geo-informatics engineering,10,0.0
2,Yes,400 Level,Engineering,Chemical engineering,10,0.0
3,Yes,300 Level,Education,Educational foundations,10,0.0
4,Yes,300 Level,Social Sciences,Mass communication,9,0.0
...,...,...,...,...,...,...
61,Yes,200 Level,Education,Educational foundations,9,0.0
62,Yes,200 Level,Management Science,Accounting,8,0.0
63,Yes,200 Level,Arts,Philosophy,9,0.0
64,Yes,400 Level,Education,Art & social science education,4,0.0
65,Yes,200 Level,Management Science,Accounting,8,0.0

In [127]:
#Define the preprocessor with OneHotEncoder for categorical columns

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
# Define the columns that need to be encoded (categorical columns)
categorical_cols = ['Unilag', 'Academic_Level', 'Faculty',
                    'Department']

# Define the preprocessor with OneHotEncoder for categorical columns and SimpleImputer for missing values

encoder = OneHotEncoder(handle_unknown='ignore')


preprocessor = ColumnTransformer(
    transformers=[
        ('cat', encoder, categorical_cols),
    ],
    remainder='passthrough'  # Place remainder parameter outside the transformers list
)

In [128]:
# Step 4: Fit and transform the preprocessor on the test data
X_test_processed = preprocessor.fit_transform(X_test)

# Step 5: Train a model on the test data
model = LinearRegression()
model.fit(X_test_processed, y_test)

# Step 6: Use the trained model to predict the missing values in the training data
X_train = training_data.drop(columns=['Course_Unit'])
X_train_processed = preprocessor.transform(X_train)
predicted_values = model.predict(X_train_processed)

# Step 7: Assign the predicted values to the training data
training_data['Course_Unit'] = np.ceil(predicted_values)

In [129]:
training_data

,Unilag,Academic_Level,Faculty,Department,Courses_Taken,Course_Unit
0,Yes,400 Level,Social Sciences,Political science,7,12.0
1,Yes,500 Level,Engineering,Surveying & geo-informatics engineering,10,22.0
2,Yes,400 Level,Engineering,Chemical engineering,10,23.0
3,Yes,300 Level,Education,Educational foundations,10,17.0
4,Yes,300 Level,Social Sciences,Mass communication,9,23.0
...,...,...,...,...,...,...
61,Yes,200 Level,Education,Educational foundations,9,15.0
62,Yes,200 Level,Management Science,Accounting,8,19.0
63,Yes,200 Level,Arts,Philosophy,9,19.0
64,Yes,400 Level,Education,Art & social science education,4,12.0
65,Yes,200 Level,Management Science,Accounting,8,19.0

In [130]:
#create a dataframe containing values from the missing_course_units.df that were not used as a training data set

remaining_data = missing_course_units[~missing_course_units.index.isin(training_data.index)]

In [131]:
# Concatenate training_data and remaining_data to get the complete dataset
df_course_units = pd.concat([training_data, remaining_data])

len(df_course_units)

299

In [132]:
#We still have NaN values in our column
#Drawing a df out that holds any missing values in a column


df_course_units[pd.isna(df_course_units['Course_Unit'])]

Empty DataFrame
Columns: [Unilag, Academic_Level, Faculty, Department, Courses_Taken, Course_Unit]
Index: []

In [133]:
len(df_course_units)

299

##### Well?

In [139]:
removed_columns = columns_to_drop

# Add the removed columns back to the new DataFrame 'new_df' in place
new_df_unilag= pd.concat([df_course_units, df_unilag[removed_columns]], axis=1)

# Now 'new_df' will have the removed columns added back in place

In [140]:
new_df_unilag.head(10)

,Unilag,Academic_Level,Faculty,Department,Courses_Taken,Course_Unit,Strike_Effect,Challenging_Part,Job_Undertaken,Self_Development,Exam_Prep_Before_Strike,Exam_Prep_After_Strike,Lectures_Affected,Academic_Activities,Relationship_Status,Age,Gender,CGPA_Before,CGPA_After,CGPA Change
0,Yes,400 Level,Social Sciences,Political science,7,12.0,I learned how to study better and my grades al...,Trying to remember things we were taught befor...,Worked in a role relevant to my studies,Acquired skills unrelated to course of study,Poorly,Poorly,No noticeable change,Rarely: I engaged in academic activities once ...,Single,22,Male,3.39,3.51,0.12
1,Yes,500 Level,Engineering,Surveying & geo-informatics engineering,10,22.0,It affected it in a negative way as it became ...,"Rekindling the student in me, lol. Trying to g...",Did not work during the strike,Acquired skills unrelated to course of study,Poorly,Moderately,No noticeable change,Rarely: I engaged in academic activities once ...,Single,23,Female,4.44,4.50,0.06
2,Yes,400 Level,Engineering,Chemical engineering,10,23.0,It has actually helped me a bit. The extended ...,Readapting to school,Worked in a role unrelated to my studies,"Volunteered for an event or organization, Acqu...",Moderately,Moderately,Fewer lecturers attended classes,Rarely: I engaged in academic activities once ...,Dating,21,Male,3.54,3.61,0.07
3,Yes,300 Level,Education,Educational foundations,10,17.0,Good,Reading,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Moderately,Very,No noticeable change,Rarely: I engaged in academic activities once ...,Dating,29,Male,3.86,3.96,0.10
4,Yes,300 Level,Social Sciences,Mass communication,9,23.0,Reluctance to concentrate on my studies,Getting to dust my books and and assimilate,Did not work during the strike,None of the above,Poorly,Very,Worse lectures after the strike,Never: I did not engage in any academic activi...,Single,24,Male,2.85,2.00,-0.85
5,Yes,400 Level,Management Science,Finance,6,17.0,No effect,No challenge,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Moderately,Moderately,No noticeable change,Rarely: I engaged in academic activities once ...,Single,20,Female,4.00,3.80,-0.20
6,Yes,300 Level,Sciences,Botany,6,15.0,My grades dropped by a large margin,I couldn't face my books squarely,Worked in a role unrelated to my studies,Volunteered for an event or organization,Very,Poorly,Worse lectures after the strike,Never: I did not engage in any academic activi...,Single,22,Female,3.66,3.50,-0.16
7,Yes,300 Level,Education,Science tech. education,7,18.0,"The strike helped me with more time to study, ...",Finding my books and getting back into study m...,Worked in a role relevant to my studies,"Acquired skills relevant to course of study, A...",Moderately,Moderately,No noticeable change,Rarely: I engaged in academic activities once ...,Single,21,Female,3.06,3.26,0.20
8,Yes,200 Level,Management Science,Finance,7,19.0,Poorly,Going back to assignments and exams,Worked in a role unrelated to my studies,Vocational training and artisanship,Moderately,Poorly,Fewer lecturers attended classes,Rarely: I engaged in academic activities once ...,Dating,23,Female,3.50,3.49,-0.01
9,Yes,300 Level,Education,Educational foundations,8,14.0,Still the same,Prolonged graduating date,Worked in a role unrelated to my studies,Acquired skills unrelated to course of study,Moderately,Moderately,Worse lectures after the strike,Often: I engaged in academic activities regula...,Single,25,Male,3.42,3.72,0.30

In [142]:
# Define the desired column order
desired_order = ['Unilag', 'Academic_Level', 'Age', 'Gender', 'Relationship_Status', 'Faculty',
                 'Department', 'Strike_Effect', 'Challenging_Part', 'Job_Undertaken', 'Self_Development',
                 'Exam_Prep_Before_Strike', 'Exam_Prep_After_Strike', 'Lectures_Affected',
                 'Academic_Activities', 'Courses_Taken', 'Course_Unit', 'CGPA_Before', 'CGPA_After', 'CGPA Change']

# Rearrange the columns of 'new_df' in the desired order
new_df_unilag = new_df_unilag.reindex(columns=desired_order)

In [143]:
new_df_unilag.head(2)

,Unilag,Academic_Level,Age,Gender,Relationship_Status,Faculty,Department,Strike_Effect,Challenging_Part,Job_Undertaken,Self_Development,Exam_Prep_Before_Strike,Exam_Prep_After_Strike,Lectures_Affected,Academic_Activities,Courses_Taken,Course_Unit,CGPA_Before,CGPA_After,CGPA Change
0,Yes,400 Level,22,Male,Single,Social Sciences,Political science,I learned how to study better and my grades al...,Trying to remember things we were taught befor...,Worked in a role relevant to my studies,Acquired skills unrelated to course of study,Poorly,Poorly,No noticeable change,Rarely: I engaged in academic activities once ...,7,12.0,3.39,3.51,0.12
1,Yes,500 Level,23,Female,Single,Engineering,Surveying & geo-informatics engineering,It affected it in a negative way as it became ...,"Rekindling the student in me, lol. Trying to g...",Did not work during the strike,Acquired skills unrelated to course of study,Poorly,Moderately,No noticeable change,Rarely: I engaged in academic activities once ...,10,22.0,4.44,4.50,0.06